.intro {
  .section-wrap {
    .section {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;

      .section-wrap {
        width: 100%;
        flex: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;

        .section-inner {
          margin: 0 auto;
          width: 1200px;

          .section-title1 {
            margin-bottom: 10px;
            display: block;
            font-size: 36px;
            color: #fff;
          }

          .section-title2 {
            display: block;
            font-size: 48px;
            color: #fff;
          }

          .desc {
            display: block;
            font-size: 24px;
            color: #fff;
            margin-top: 12px;
            line-height: 1.6em;
          }
        }
      }
    }

    .intro-top {
      margin-top: $header-height;
      min-height: calc(100vh - #{$header-height});
      background: url("../../../public/assets/temp/Home.webp");

      .section-inner {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-bottom: 400px;
        padding-top: 180px;

        @include md {
          width: calc(100% - 80px) !important;
          padding: 10% 40px 10%;
        }

        @include sm {
          width: calc(100% - 40px) !important;
          padding: 10% 20px 20%;
        }

        .top {
          text-align: left;
        }
      }

      .body {
        // safe margin
        margin-top: 40px;

        .poem {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          white-space:pre-wrap;
        }

        p {
          width: 100%;
          color: #fff;
          word-break: keep-all;
          font-size: 16px;
          line-height: 2em;
          text-align: end;
        }
      }
    }
  }
}
