.reservation-wrap {
  margin-top: 73px;
  padding-top: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .reservation-inner {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;

    @include md {
      width: calc(100% - 40px);
      margin: 0 auto;
    }

    @include sm {
      width: calc(100% - 40px);
      margin: 0 auto;
    }
  }

  h2.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    padding-bottom: 12px;
    border-bottom: 1px solid #cecece;
  }
}

.date-picker-wrap {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;

  .init-button,
  .calendar-header button {
    border: 1px solid #cecece;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.2em;
    transition: 0.2s;
    &:hover {
      background-color: #cecece;
    }
  }
  .calender-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;

    @include md {
      justify-content: center;
    }
    @include sm {
      justify-content: center;
    }
  }

  .calendar-header {
    margin-top: 12px;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    button {
      width: 120px;
    }
  }
  .calendar-item {
    width: 600px;

    .month-year {
      font-size: 16px;
      line-height: 1.2em;
    }

    .calendar {
      width: 100%;
      border: 1px solid black;
      margin-top: 12px;

      thead {
        tr {
          border-bottom: 1px solid black;
          th {
            width: calc(100% / 7);
            padding: 8px 0;
          }
        }
      }

      tbody {
        tr {
          height: 79.45px;
          @include sm {
            height: 50px;
          }

          &:first-child td {
            border-top: none;
          }
          &:last-child td {
            border-bottom: none;
          }
          td {
            position: relative;
            height: 50px;
            padding-top: 12px;
            cursor: pointer;
            transition: background-color 0.2s;
            border: 1px solid #d0d0d0;

            @include sm {
              font-size: 13px;
              padding-top: 5px;
              padding-bottom: 5px;
            }

            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }

            &:hover,
            &.room-selecting {
              background-color: rgb(181, 255, 230);
            }

            &.selected {
              // background-color: #202020 !important;
              background-color: aquamarine !important;
              color: #fff;

              div {
                color: #fff;
              }
            }

            // &.checkout-only {
            //   background-color: #f96c6c;
            // }
            .tooltip-text-a {
              display: none;
            }
            .tooltip-text-b {
              display: none;
            }
            .tooltip-text-c {
              display: none;
            }

            &.oneLeft {
              background-color: #eeeeee;
              &:hover,
              &.room-selecting {
                background-color: rgb(181, 255, 230);
              }
            }

            &.between-day {
              background-color: antiquewhite;
            }

            &.soldOut {
              background-color: #b9b9b9;
              cursor: no-drop;
              .tooltip-text-b {
                font-size: 10px;
                display: none;
                // display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: calc(100% - 30px);
                height: calc(100% - 45px);
                background-color: #808080;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                white-space: normal;
                /* Position the tooltip text - see examples below! */
                position: absolute;
                top: 32px;
                left: 15px;
                z-index: 1;
                @include sm {
                  display: none;
                  font-size: 9px;
                  padding: 0px;
                  width: calc(100% - 10px);
                  left: 5px;
                }
              }
              div {
                color: #555555;
              }
            }
            &.soldOut:hover {
              .tooltip-text-b {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            &.checkout-only {
              // background-color: #f96c6c;
              background-color: #f0f0f0;
              cursor: no-drop;
              .tooltip-text-a {
                font-size: 10px;
                display: none;
                box-sizing: border-box;
                width: calc(100% - 30px);
                height: calc(100% - 45px);
                background-color: #808080;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                white-space: normal;
                /* Position the tooltip text - see examples below! */
                position: absolute;
                top: 32px;
                left: 15px;
                z-index: 1;
              }
              .tooltip-text-b {
                display: none;
              }
              .tooltip-text-c {
                display: none;
              }
              div {
                color: #bcbcbc;
              }
            }
            &.checkout-only:hover {
              .tooltip-text-a {
                display: flex;
                justify-content: center;
                align-items: center;
                @include sm {
                  display: none;
                }
              }
              .tooltip-text-b {
                display: none;
              }
            }
            &.one-day-selected {
              // background-color: white;
              cursor: pointer;
            }

            &.passed-date {
              background-color: #b9b9b9;
              // pointer-events: none;
              cursor: no-drop;
              // z-index: 10;
              .tooltip-text-c {
                font-size: 10px;
                display: none;
                box-sizing: border-box;
                width: calc(100% - 30px);
                height: calc(100% - 45px);
                background-color: #808080;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                white-space: normal;
                /* Position the tooltip text - see examples below! */
                position: absolute;
                top: 32px;
                left: 15px;
                z-index: 1;
              }
              div {
                color: #555555;
              }
            }
            &.passed-date:hover {
              background-color: #b9b9b9;
              .tooltip-text-a {
                display: none;
              }
              .tooltip-text-b {
                display: none;
              }
              .tooltip-text-c {
                display: flex;
                justify-content: center;
                align-items: center;
                @include sm {
                  display: none;
                }
              }
            }

            &.notOpen {
              background-color: #b9b9b9;
              cursor: no-drop;
              .tooltip-text-a {
                display: none;
              }
              .tooltip-text-b {
                display: none;
              }
              .tooltip-text-c {
                font-size: 10px;
                display: none;
                box-sizing: border-box;
                width: calc(100% - 30px);
                height: calc(100% - 45px);
                background-color: #808080;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                white-space: normal;
                /* Position the tooltip text - see examples below! */
                position: absolute;
                top: 32px;
                left: 15px;
                z-index: 1;
              }
            }
            &.notOpen:hover {
              .tooltip-text-c {
                display: flex;
                justify-content: center;
                align-items: center;
                @include sm {
                  display: none;
                }
              }
            }

            &.no-date {
              background-color: gainsboro;
              cursor: no-drop;
            }

            .room-list {
              .room-name {
                display: inline-block;
                margin-right: 5px;
                margin-top: 3px;
              }
              .price {
                font-size: 12px;
              }
              .room-item {
                opacity: 0;
                &.available {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .input-wrap {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include sm {
      gap: 12px;
    }

    input {
      border: 1px solid #cecece;
      padding: 4px;
      border-radius: 4px;
      text-align: center;

      @include sm {
        width: 50%;
      }
    }
  }
}

.customer-form-wrap {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 800px;
  text-align: left;

  @include md {
    width: 100%;
  }

  @include sm {
    width: 100%;
  }

  .input-wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    position: relative;
    transition: width 0.2s ease-in;

    & + .input-wrap {
      margin-top: 12px;
    }
    &.user-mobile-input {
      width: 293px;
      &.disabled {
        color: rgb(214, 214, 214);
        -webkit-text-fill-color: rgb(214, 214, 214);
        opacity: 1;
        width: 133px;

        @include sm {
          width: 100%;
        }
      }

      @include sm {
        width: 100%;
      }
    }
    .user-auth-number-wrap {
      align-items: center;
      width: 250px;
      height: 100%;
      max-height: 42px;
      display: flex;
      position: relative;
      justify-content: space-between;
      border: 1px solid #404040;
      border-radius: 4px;
      padding: 8px 12px;
      box-sizing: border-box;

      @include sm {
        width: 100%;
      }
      input {
        width: 100%;
        max-width: 165px;
        padding: 0;
        margin: 0;
        border: none;
        font-size: 14px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }

      span {
        color: tomato;
        font-size: 13px;
      }
    }
    .input-title {
      font-size: 14px;
      line-height: 20px;
    }

    .mobile-input-wrap {
      display: flex;
      gap: 8px;
      align-items: flex-start;
      margin-top: 8px;

      @include sm {
        flex-direction: column;
      }

      input {
        margin-top: 0;
        font-size: 16px;
        // padding: 8px 12px;
      }
    }

    input {
      // width: 200px;
      padding: 8px 12px;
      margin-top: 8px;
      font-size: 16px;
      border: 1px solid #404040;
      border-radius: 4px;
      transition: border-color 0.3s;

      &:focus,
      &:focus-within {
        outline: none;
      }

      &.error {
        border-color: #f96c6c;
      }
    }

    .error-text {
      color: #f96c6c;
      font-size: 14px;
      margin-top: 4px;
      position: absolute;
      bottom: 0;
      white-space: nowrap;
    }

    .certification-button {
      border: 1px solid #202020;
      padding: 8px 12px;
      border-radius: 4px;
      // width: 120px;
      margin-top: 4px;

      @include sm {
        float: right;
      }
    }
    .certification-check-button {
      border: 1px solid #202020;
      padding: 8px 12px;
      border-radius: 4px;
      width: 120px;
      height: 42px;
      transition: background-color 1s;

      @include sm {
        width: 100%;
      }
    }
    .certification-result-msg {
      align-items: center;
      height: 42px;
      // margin-top: 8px;
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 0 12px;
      box-sizing: border-box;
      font-size: 14px;
      &.error {
        span {
          color: tomato;
        }
      }
      &.success {
        span {
          color: #77dd77;
        }
      }
    }
    .certification-check-button:hover {
      background-color: #b2b2b2;
    }
    .people-number-input-wrap {
      display: flex;
      align-items: center;
      margin-top: 8px;

      .calc-button {
        border: 1px solid #404040;
        width: 37px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }

        &:disabled {
          background-color: #d0d0d0;
        }
      }

      input {
        border-radius: 0;
        height: 37px;
        box-sizing: border-box;
        margin-top: 0;
        border-left: none;
        border-right: none;
        text-align: center;

        @include sm {
          width: 100%;
        }
      }
    }

    .text-area-wrap {
      border: 1px solid #404040;
      border-radius: 4px;
      padding: 8px;
      margin-top: 8px;

      .input-text-area {
        resize: none;
        width: 100% !important;
        font-size: 16px;
        line-height: 24px;
      }

      .text-count {
        display: block;
        text-align: end;
      }
    }
  }
}

.check input[type="checkbox"] {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  // box-sizing: border-box;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none !important;
  border: 1px solid #9999;
  vertical-align: middle;
  margin: 0;
}

.check input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 8.66px;
  background: url("../../../public/assets/icons/ico_check.svg") no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  transform: scale(0) translate(-50%, -55%);
  line-height: 1;
  margin: 0;
}

.check input[type="checkbox"]:checked {
  background-color: #202122;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.check input[type="checkbox"]:checked::before {
  // border-radius: 4px;
  transform: scale(1) translate(-50%, -55%);
}

.reservation-sidebar-wrap {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 400px;
  text-align: left;

  @include md {
    width: 100%;
  }

  @include sm {
    width: 100%;
  }

  .input-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    // padding-bottom: 18px;
    padding: 8px 12px 18px;
    position: relative;
    border: 1px solid;
    border-radius: 4px;

    .input-title {
      line-height: 24px;
    }

    .reservation-info-box {
      margin-top: 12px;
      .reservation-info {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;

        &.has-middle {
          justify-content: flex-start;
          span {
            &:nth-child(1) {
              width: 40%;
            }
            &:nth-child(2) {
              width: 30%;
              text-align: right;
            }
            &:nth-child(3) {
              margin-left: auto;
            }
          }
        }
        span {
          font-size: 14px;
        }
      }
      .border-line {
        border-top: solid 2px;
        margin: 12px 0;
      }
    }
  }
  .reservation-button {
    width: 100%;
    margin-top: 12px;
    padding: 12px 0;
    border: solid 1px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 1s;
  }
  .reservation-button:hover {
    background-color: #b2b2b2;
  }
}

.reservation-form-wrap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #404040;
  margin-top: 40px;
  padding-top: 40px;

  @include md {
    flex-direction: column;
  }

  @include sm {
    flex-direction: column;
  }
  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

// .room-select-modal-mask {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
//   position: absolute;
//   &::after {
//     position: fixed;
//     background-color: #808080;
//     opacity: 0.3;
//     width: 100vw;
//     height: 100vh;
//     content: "";
//     top: 0;
//     left: 0;
//   }
// }

.room-select-modal {
  position: absolute;
  // left: 100%;
  right: -10px;
  transform: translateX(100%);
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  z-index: 100;
  width: 150px;
  padding: 8px 12px;
  top: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  @include sm {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    border: none;
    transform: translateX(0);
    box-sizing: border-box;
    padding: 24px 12px;
  }

  strong {
    @include sm {
      font-size: 16px;
      font-weight: 500;
      display: block;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 12px;
      line-height: 1.2em;
    }
  }

  &::before {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    left: -10px;
    top: 10px;

    @include sm {
      content: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    left: -8px;
    top: 11px;
    @include sm {
      content: none;
    }
  }

  .room-select {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    .room-button {
      background-color: #f9f9f9;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      transition: all 0.3s;

      @include sm {
        height: 40px;
      }

      & + .room-button {
        margin-top: 4px;

        @include sm {
          margin-top: 8px;
        }
      }

      &:hover {
        background-color: #918f8f;
      }
    }
  }
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.agreement-wrap {
  display: flex;
  flex-direction: column;
  .agreement-section {
    width: 800px;
    margin-top: 12px;

    @include md {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
    .btn-wrap {
      padding: 5px;

      > button {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
    .agreement-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6px;
      button {
        font-size: 14px;
      }
      .agree-checkbox {
        font-size: 14px;
        .check {
          display: flex;
          align-items: center;
        }
        input {
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
      }
      span {
        display: inline-block;
        color: #808080;
      }
      .btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
    .agreement-content-wrap {
      border-top: #202020 1px solid;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;
      &.show-content {
        max-height: fit-content;
      }
      &.border-none {
        border: transparent;
      }
      .agreement-content {
        box-sizing: border-box;
        background-color: #f4f4f4;
        padding: 12px 24px;
        margin-top: 8px;
        border-radius: 2px;

        @include sm {
          padding: 8px 12px;
        }
        .refund-policy,
        .agreement,
        .personal-info,
        .event-alarm {
          li {
            font-size: 14px;
            line-height: 20px;
            display: flex;
            justify-content: space-between;
            .check {
              display: flex;
              align-items: center;
            }
            .agree-checkbox {
              input {
                width: 16px;
                height: 16px;
                margin-right: 5px;
              }
            }
          }
          li + li {
            margin-top: 5px;

            @include sm {
              margin-top: 8px;
            }
          }
        }

        .agreement {
          li .agree-checkbox {
            @include sm {
              flex-shrink: 0;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
}

.agreement-form-wrap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #404040;
  margin-top: 40px;
  padding-top: 40px;
  text-align: left;
  @include md {
    flex-direction: column;
  }
  @include sm {
    flex-direction: column;
  }
  .refund-policy-wrap {
    min-width: 400px;

    @include md {
      margin-top: 24px;
    }

    @include sm {
      margin-top: 12px;
      min-width: auto;
    }
    .title {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px;
    }
    .content-wrap {
      .content {
        box-sizing: border-box;
        background-color: #f4f4f4;
        padding: 12px 24px;
        margin-top: 8px;
        border-radius: 2px;
        li {
          font-size: 14px;
          line-height: 18px;
          display: flex;
          justify-content: space-between;

          & + li {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

.link-select-modal {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  transform: translateX(0);
  background-color: #fff;
  border-radius: 4px;
  z-index: 100;
  width: 100vw;
  height: 200px;
  border: none;
  box-sizing: border-box;
  padding: 20px 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;

  .link-select-icon {
    display: inline;
    margin-bottom: 15px;
  }

  strong {
    font-size: 16px;
    font-weight: 500;
    display: block;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 12px;
    line-height: 1.2em;
  }

  &::before {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    left: -10px;
    top: 10px;

    @include sm {
      content: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    left: -8px;
    top: 11px;
    @include sm {
      content: none;
    }
  }

  .link-select {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    .link-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 60px;
      background-color: #f9f9f9;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      transition: all 0.3s;
      margin: 0 10px;

      &:hover {
        background-color: #918f8f;
      }
    }
  }
}
