.page {
  opacity: 0;
  transition: 0.7s;
}

.room-wrap {
  font-family: "Gowun Batang", serif;
  background-color: #f5f4f0;
  margin-top: $header-height;
  .banner-img-wrap {
    position: relative;
    height: calc(100vh - #{$header-height});
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .room-main-title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: x-large;

    @include sm {
      font-size: large;
    }
  }

  .room-inner {
    padding: 0 30px;
    max-width: 1280px;
    margin: 0 auto;

    @include sm {
      padding: 0 20px;
    }

    .room-intro {
      border-top: 1px solid #e5e7eb;
      margin-top: 10px;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      scroll-margin: 60px;

      div {
        position: relative;
        border: 1px solid #e5e7eb;
        width: 100%;
        height: calc(100vh - 120px);
        height: -moz-calc(100vh - 120px);
        height: -webkit-calc(100vh - 120px);

        span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 36px;
          color: white;
          z-index: 1;

          @include sm {
            width: 150px;
            font-size: 24px;
            text-align: center;
          }
        }
        
        img {
          filter: brightness(0.7);
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }

        &:hover {
          cursor: pointer;
          background-color: #d0d0d0;
          transition: 1s;

          img {
            filter: brightness(0.5);
            transition: 0.5s;
          }
        }
      }
    }

    .roomA-info {
      display: none;
      scroll-margin: 120px;
    }

    .roomB-info {
      display: none;
      scroll-margin: 120px;
    }

    .room-padding {
      height: 60px;
    }

    .floor-plan {
      border-top: 1px solid #e5e7eb;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include sm {
        img {
          width: 100%;
        }
      }

      div {
        position: relative;
      }

      .floor-plan-A-living {
        position: absolute;
        top: 53%;
        left: 41%;
        
        background: rgba(210, 200, 200, 0);
        width: 33%;
        height: 18%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-A-bed {
        position: absolute;
        top: 30%;
        left: 26%;
        
        background: rgba(210, 200, 200, 0);
        width: 15%;
        height: 40%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-A-kitchen {
        position: absolute;
        top: 30%;
        left: 41%;
        
        background: rgba(210, 200, 200, 0);
        width: 16%;
        height: 20%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-A-bath {
        position: absolute;
        top: 30%;
        left: 59%;
        
        background: rgba(210, 200, 200, 0);
        width: 16%;
        height: 21%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-A-yard {
        position: absolute;
        top: 12%;
        left: 26%;
        
        background: rgba(210, 200, 200, 0);
        width: 41%;
        height: 15%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-B-living {
        position: absolute;
        top: 37%;
        left: 47%;
        
        background: rgba(210, 200, 200, 0);
        width: 23%;
        height: 41%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-B-bed {
        position: absolute;
        top: 38%;
        left: 26%;
        
        background: rgba(210, 200, 200, 0);
        width: 20%;
        height: 15%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-B-kitchen {
        position: absolute;
        top: 21%;
        left: 47%;
        
        background: rgba(210, 200, 200, 0);
        width: 23%;
        height: 16%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-B-bath {
        position: absolute;
        top: 21%;
        left: 26%;
        
        background: rgba(210, 200, 200, 0);
        width: 19%;
        height: 15%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }

      .floor-plan-B-yard {
        position: absolute;
        top: 4%;
        left: 35%;
        
        background: rgba(210, 200, 200, 0);
        width: 35%;
        height: 15%;

        &:hover {
          cursor: pointer;
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }

        &.selected {
          background: rgba(210, 200, 200, 0.37);
          transition: 0.5s;
        }
      }
    }
  }

  .space-selection {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      border: 1px solid #A3816A;
      width: 100%;
      padding: 2px 0px;
      text-align: center;

      &:hover {
        cursor: pointer;
        background: rgba($color: #A3816A, $alpha: 0.2);
        transition: 0.5s;
      }

      &.selected {
        background: rgba($color: #A3816A, $alpha: 0.2);
        transition: 0.5s;
      }
    }
  }

  .swiper-wrap {
    border-top: 1px solid #e5e7eb;
    padding-top: 20px;
    opacity: 1;
    transition: 0.5s;

    .swiper-slide {
      .img-wrap {
        // aspect-ratio: 16/9;
        height: 70vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .swiper-pagination-bullet {
      background: black;
    }

    .swiper-button-next {
      background: url(/assets/icons/ico_arrow_right.png) no-repeat;
      background-size: 100% auto;
      background-position: center;
    }
    
    .swiper-button-prev {
      background: url(/assets/icons/ico_arrow_left.png) no-repeat;
      background-size: 100% auto;
      background-position: center;
    }
    
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
  }

  .space-description {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
    display: none;

    &.selected {
      display: block;
    }

    @include sm {
      padding: 0 50px;
      font-size: medium;
    }
  }

  .welcome-title {
    display: flex;
    margin-top: 100px;
    font-size: large;
    line-height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include sm {
      margin-top: 48px;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      width: 80px;
      border: 1px solid #ebe5eb;
      margin: 5px;
    }
  }

  .welcome-description {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;

    @include sm {
      padding: 0 50px;
      font-size: medium;
    }
  }

  padding-bottom: 60px;
}
