.service-wrap {
  font-family: "Gowun Batang", serif;
  background-color: #f5f4f0;
  .banner-img-wrap {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .service-main-title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: x-large;

    @include sm {
      font-size: large;
    }
  }

  .service-inner {
    padding: 0 30px;
    max-width: 1280px;
    margin: 0 auto;

    @include sm {
      padding: 0 10px;
    }
  }

  .welcome-title {
    display: flex;
    margin-top: 100px;
    font-size: large;
    line-height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include sm {
      margin-top: 50px;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      width: 80px;
      border: 1px solid #ebe5eb;
      margin: 5px;
    }
  }

  .welcome-description {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;

    @include sm {
      padding: 0 50px;
      font-size: medium;
    }
  }

  .service-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 30px;
    gap: 10px 20px;
    margin-top: 120px;

    @include sm {
      margin-top: 50px;
      grid-template-columns: 1fr;
      padding: 0;
    }

    .service-order {
      order: 1;
    }

    .service-detail-description {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      letter-spacing: 3px;

      @include lg {
        padding: 40px 0;
      }

      @include sm {
        order: 1;
      }
    }

    .service-title {
      font-size: large;
      padding: 20px;
      border-bottom: 1px solid #ebe5eb;

      @include sm {
        font-size: medium;
      }
    }

    .service-features {
      margin-top: 36px;
      display: flex;
      flex-direction: column;

      @include sm {
        font-size: 15px;
        margin-top: 10px;
        text-align: center;
      }

      span {
        text-align: left;
        padding-left: 20px;
        margin: 10px;
        white-space: pre-line;
        line-height: 25px;

        @include sm {
          text-align: center;
          padding-left: 10px;
          margin: 5px;
          line-height: 20px;
        }
      }

      .service-features-comment {
        font-size: small;
      }
    }

    .service-detail-pictures {
      display: flex;

      .service-detail-grid-item {
        position: relative;
        width: 100%;
        height: 500px;
        margin: 10px;
        
        @include sm {
          margin: 5px;
          height: 250px;
        }

        @include md {
          height: 350px;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .service-detail2 {
    grid-template-columns: 2fr 1fr;

    @include sm {
      grid-template-columns: 1fr;
      padding-bottom: 30px;
    }
  }

  .welcome-title {
    display: flex;
    margin-top: 100px;
    font-size: large;
    line-height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include sm {
      margin-top: 50px;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      width: 80px;
      border: 1px solid #ebe5eb;
      margin: 5px;
    }
  }

  padding-bottom: 60px;
}